<swiper-container autoplay="true" slides-per-view="3" space-between="150" centered-slides="true" loop="true">
  <swiper-slide>
    <img src="https://picsum.photos/200/300" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/200" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/400" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/200" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE" alt="" srcset="" />
  </swiper-slide>
</swiper-container>
