<swiper-container init="false" #swiperContainer>
  <swiper-slide>
    <img ngSrc="https://picsum.photos/300" alt="" width="300" height="300" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img ngSrc="https://picsum.photos/400" alt="" width="300" height="300" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img ngSrc="https://picsum.photos/300" alt="" width="300" height="300" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img ngSrc="https://picsum.photos/300" alt="" width="300" height="300" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img ngSrc="https://fastly.picsum.photos/id/16/2500/1667.jpg?hmac=uAkZwYc5phCRNFTrV_prJ_0rP0EdwJaZ4ctje2bY7aE" width="300" height="300" alt="" srcset="" />
  </swiper-slide>
</swiper-container>
