<swiper-container free-mode="true" autoplay="true" slides-per-view="3" space-between="100" centered-slides="true" loop="true">
  <swiper-slide>
    <img src="assets/mock-img.png" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/mock-img.png" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/mock-img.png" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/mock-img.png" alt="" srcset="" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/mock-img.png" alt="" srcset="" />
  </swiper-slide>
</swiper-container>
