@use "../utils/variables" as *;
@import '../utils/mixins';

footer {
  @include displayFlexCenter(column);
  background-color: #141414;
  text-align: center;
  gap: 60px;
  box-shadow:
  4px 3px 6px $purple-custom,
  1px 3px 2px $blue-custom;
  padding: 24px 0 0 0;

  @media screen and (min-width: $medium-screen) {
    gap: 38px;
  }

  @media screen and (min-width: $large-screen) {
    @include displayFlexCenter(row)
  }
}

.contact-list {
  margin: 12px;
  padding: 12px;

  li {
    padding: 12px 6px;
  }

  li:last-child {
    display: inline-block;
    width: 40%;
    padding-top: 30px;
    vertical-align: middle;
    text-align: center;

    @media screen and (min-width: $medium-screen) {
      width: 26%;
    }

    a {
      color: $white-color;
      font-family: $cairo;
      font-weight: 800;
      text-decoration:underline;
    }

  }
}

.container-author {
  padding: 8px 0;

  a {
    font-family: $cairo;
    color: $grey-color;
    font-size: 12px;
    font-weight: 700;
  }
}
