footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  text-align: center;
  gap: 60px;
}

.container-contact ul li:last-child {
  padding-top: 30px;
}

.container-author {
  padding: 8px 0;
}
