@use "../utils/variables" as *;
@import '../utils/mixins';

footer {
  @include displayFlexCenter(column);
  background-color: #141414;
  text-align: center;
  gap: 60px;
  padding: 24px 0 0 0;

  @media screen and (min-width: $medium-screen) {
    gap: 38px;
  }

  @media screen and (min-width: $large-screen) {
    @include displayFlexCenter(row);
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 48px;
  }

  .container-contact {
    @media screen and (min-width: $large-screen) {
      flex-basis: 25%;
    }
  }
}

.contact-list {
  flex-shrink: 1;
  margin: 12px;
  padding: 12px;

  li {
    padding: 12px 6px;
  }

  li:last-child {
    display: inline-block;
    padding-top: 30px;
    vertical-align: middle;
    text-align: center;

    @media screen and (min-width: $medium-screen) {
      width: 26%;
    }

    @media screen and (min-width: $large-screen) {
      width: 50%;
    }

    a {
      width: 100%;
      color: $white-color;
      font-family: $cairo;
      font-weight: 800;
      text-decoration:underline;
    }

  }
}

.container-author {
  flex-grow: 1;
  width: 100%;
  padding: 8px 0;

  a {
    font-family: $cairo;
    color: $grey-color;
    font-size: 12px;
    font-weight: 700;
  }
}
