<footer>
  <div class="container-logo">
    <img class="logo" src="/assets/gi-logo.svg" alt="" width="280px"/>
  </div>
  <div class="container-contact">
    <ul>
      <li>Av Sapopemba - Jardim Sapopemba </li>
      <li>(11) 99999-9999</li>
      <li>gihlopestattoo</li>
    </ul>
  </div>
  <div class="container-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.728746241061!2d-46.505516761255905!3d-23.61405923198774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce67e19a901ccf%3A0x8bfb99b2176b77b7!2sTerm.%20Sapopemba!5e0!3m2!1spt-BR!2sbr!4v1717084470909!5m2!1spt-BR!2sbr" width="324px" height="214px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="container-author">
    <a href="https://dantsdev.vercel.app/">Desenvolvido por Lucas Dantas - 2024</a>
  </div>
</footer>
