@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Comfortaa:wght@300..700&family=Anek+Tamil:wght@100..800&display=swap");

@font-face {
  font-family: "Base Neue";
  src: url("/src/assets/fonts/base-neue/BaseNeueTrial-Bold.ttf");
  font-weight: bold;
}

// fonts
$anek: "Anek Tamil", Arial, sans-serif;
$cairo: "Cairo", Arial, sans-serif;
$comfortaa: "Comfortaa", Arial, sans-serif;

//pallets
$black-color: #000;
$white-color: #fff;
$grey-color: #c2c2c2;
$bg-page-black: #1a1a1a;
$bg-footer-black: #141414;
$black-container: #1f1f1f;
$purple-custom: #be05ff;
$blue-custom: #1342ec;

// breakpoints

$medium-screen: 768px;
$large-screen: 1024px;
$x-large-screen: 1440px;
