<mat-toolbar class="header">
  <mat-toolbar-row>
    @if (isOpen) {
    <nav class="nav">
      <a routerLink="/" fragment="home">inicio</a>
      <a routerLink="" fragment="quote">orçamento</a>
      <a routerLink="" fragment="information">ambiente</a>
      <a routerLink="" fragment="rating">avaliações</a>
      <a routerLink="" fragment="about">sobre</a>
      <a routerLink="" fragment="contact">contato</a>
    </nav>
    }
    <button
      (click)="toggleNav()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [hidden]="isOpen"
    >
      <mat-icon color="white">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
