<mat-toolbar class="header">
  <button
    (click)="toggleNav()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon color="white">menu</mat-icon>
  </button>
</mat-toolbar>
@if (isOpen) {
  <nav class="nav">
      <button class="close-button" (click)="toggleNav()">
        <mat-icon color="white">close</mat-icon>
      </button>
    <a routerLink="">inicio</a>
    <a routerLink="" fragment="quote">orçamento</a>
    <a routerLink="" fragment="information">ambiente</a>
    <a routerLink="" fragment="rating">avaliações</a>
    <a routerLink="" fragment="about">sobre</a>
    <a routerLink="" fragment="contact">contato</a>
  </nav>
}
