<div class="slider-wrapper">
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide">
      <img src="assets/mock-img.png" alt="" srcset="" width="160px" height="220px">
    </div>
    <div class="keen-slider__slide">
      <img src="assets/mock-img.png" alt="" srcset="" width="160px" height="220px">
    </div>
    <div class="keen-slider__slide">
      <img src="assets/mock-img.png" alt="" srcset="" width="160px" height="220px">
    </div>
    <div class="keen-slider__slide">
      <img src="assets/mock-img.png" alt="" srcset="" width="160px" height="220px">
    </div>
    <div class="keen-slider__slide">
      <img src="assets/mock-img.png" alt="" srcset="" width="160px" height="220px">
    </div>
    <div class="keen-slider__slide">
      <img src="assets/mock-img.png" alt="" srcset="" width="160px" height="220px">
    </div>
    <div class="keen-slider__slide">
      <img src="assets/mock-img.png" alt="" srcset="" width="160px" height="220px">
    </div>
  </div>
</div>
