.slider-wrapper {
  overflow: hidden;
}

.keen-slider {
  display: flex;
  overflow: hidden;
}

.keen-slider__slide img {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: inset 0px 4px 30px 6px #000000;
}
