@use "../utils/variables" as *;
@import '../utils/mixins';

.container-content {
  @include displayFlexCenter(column);
  text-align: center;
  padding-top: 8em;
  margin: 3em 0;
  gap: 10.8em;

  @media screen and (min-width: $medium-screen) {
    @include displayFlexCenter(row);
    padding-top: 10em;
    margin: 5em 0;
    gap: 0;
  }

}

.container-logo {
  @include displayFlexCenter(column);
  margin: 0 1.8em;
  padding: 0 1.2em;
  gap: 3.8em;

  @media screen and (min-width: $medium-screen) {
    width: 50%;
  }

}

.address-logo > .logo {
  width: 34rem;
}

.container-adress > img {
  vertical-align: middle;
  width: 2.6rem;
  margin-right: 4px;
}

.container-adress > address {
  display: inline;
  font-style: normal;
  font-size: 1.6rem;
}

.container-carrousel {
  width: 100%;
  position: relative;
  overflow-y: visible;

  @media screen and (min-width: $medium-screen) {
    width: 50%;
  }
}
