@use "../theme/variables" as *;

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4em;
  margin: 3em 0;
  gap: 10em;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.address-logo > .logo {
  width: 26.6rem;
}

.container-adress > img {
  vertical-align: middle;
  width: 2.6rem;
  margin-right: 4px;
}

.container-adress > address {
  display: inline;
  font-style: normal;
  font-size: 1.4rem;
}

.container-carrousel {
  position: relative;
  overflow-y: visible;
}

@media screen and (1280px < width) {
  .container-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0;
    gap: 1em;
  }
}
