@use "../utils/variables" as *;
@import '../utils/mixins';

.container-content {
  @include displayFlexCenter(column);
  text-align: center;
  padding-top: 8em;
  margin: 3em 0;
  gap: 10.8em;
}

.container-logo {
  @include displayFlexCenter(column);
  margin: 0 1.8em;
  padding: 0 1.2em;
  gap: 3.8em;
}

.address-logo > .logo {
  width: 34rem;
}

.container-adress > img {
  vertical-align: middle;
  width: 2.6rem;
  margin-right: 4px;
}

.container-adress > address {
  display: inline;
  font-style: normal;
  font-size: 1.6rem;
}

.container-carrousel {
  position: relative;
  overflow-y: visible;
}

@media screen and (width > 1280px) {
  .container-content {
    @include displayFlexCenter(row);
    text-align: center;
    margin: 0 0;
    gap: 1em;
  }
}
