@use "../utils/variables" as *;
@import '../utils/mixins';

.container-information {
  @include displayFlexCenter(column);
  margin-top: 60px;
  gap: 100px;
}

.information-items {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding: 2px;
  gap: 30px;
  text-align: center;

  @media screen and (min-width: $medium-screen) {
    padding: 12px;
    gap: 48px 80px;
  }

}

.information-items .item {
  @include displayFlexCenter(column);
  margin: 12px;
  gap: 6px;

  @media screen and (min-width: $medium-screen) {
    gap: 12px;
  }

  p {
    @media screen and (min-width: $medium-screen) {
      font-size: 1.8rem;
    }
  }
}

.item > .mat-icon {
  width: 32px;
  object-fit: cover;
}

.container-gallery-btn {
  margin: -40px 0 30px 0;
}
