.container-quote {
  margin-top: 100px;
  height: 30dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 16px;
  background-color: rgb(15, 15, 15);
}

video {
  position: absolute;

  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: blur(1);
  filter: grayscale(1);
}

.container-quote > h3 {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.container-quote > h3,
.container-quote > app-button {
  z-index: 20;
}
