@use "../theme/variables" as *;

.box {
  padding: 30px;
  position: absolute;
  width: 354px;
  height: 20px;
  background: #1f1f1f;
  box-shadow:
    0px -0.5px 6px #be05ff,
    0px 2px 2px #1342ec;
  border-radius: 8px;
}
