@use "../theme/variables" as *;

body {
  font-family: $comfortaa;
  background-color: $bg-page-black;
  color: $white-color;
  max-width: 100vdw;
}

.container-carrousel {
  width: 500px;
  height: 200px;
  position: relative;
}
