@if (buttonType === "whatsBtn") {
  <a
    class="whatsapp-btn"
    href="https://wa.me/5511949606970?text=Ol%C3%A1%20Giovanna%21%20Gostaria%20de%20fazer%20um%20or%C3%A7amento%20e%20tirar%20duvidas%21"
    target="_blank"
    ><img src="assets/372108180_WHATSAPP_ICON_400.gif" alt="" width="80px"
  /></a>
}
@if (buttonType === "quoteBtn") {
  <a
    class="quote-btn"
    href="https://wa.me/5511949606970?text=Ol%C3%A1%20Giovanna%21%20Gostaria%20de%20fazer%20um%20or%C3%A7amento%20e%20tirar%20duvidas%21"
    target="_blank"
  >
    Faça o seu orçamento !
    <img
      class="quote-icon-btn"
      src="assets/whatsapp-128.ico"
      alt=""
      srcset=""
    />
  </a>
}
