<div class="container-rating">
  <h2>{{ items.ratings.title }}</h2>
  <swiper-container
    pagination="true"
    slides-per-view="1"
    centered-slides="true"
  >
  @for (item of items.ratings.person; track $index) {
    <swiper-slide>
      <div class="container-user">
        <img
          class="user-image"
          src="https://picsum.photos/200"
          alt=""
          srcset=""
        />
        <div class="user-comment">
          <h3>{{ item.name }}</h3>
          <p>{{item.comment}}</p>
        </div>
      </div>
    </swiper-slide>
  }
  </swiper-container>
</div>
