@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Comfortaa:wght@300..700&family=Luxurious+Script&family=Oranienbaum&display=swap");

@font-face {
  font-family: "Base Neue";
  src: url("/src/assets/fonts/base-neue/BaseNeueTrial-Bold.ttf");
  font-weight: bold;
}

// fonts
$comfortaa: "Comfortaa", Arial, sans-serif;
$cairo: "Cairo", Arial, sans-serif;
$luxurious-script: "Luxurious Script", Arial, sans-serif;
$oranienbaum: "Oranienbaum", Arial, sans-serif;

//pallets
$black-color: #000;
$white-color: #fff;
$grey-color: #c2c2c2;
$bg-page-black: #1a1a1a;
$bg-footer-black: #141414;
$black-container: #1f1f1f;
$purple-custom: #be05ff;
$blue-custom: #1342ec;
